/* เพิ่ม CSS เพื่อแยก option ด้วยการกำหนด margin */
#director option {
    margin-right: 5px;
}

/* เพิ่ม CSS เพื่อจัดการพื้นที่สำหรับกราฟ */
canvas {
    margin-top: 20px;
}

/* CSS เพื่อเรียงกราฟ */
.column {
    float: left; /* จัดการโดยการลอยไปทางซ้าย */
    width: 33.33%; /* ให้คอลัมน์มีขนาด 1/3 ของพื้นที่ container */
    padding: 0 10px; /* เพิ่มเส้นรอบกราฟ */
    box-sizing: border-box; /* ให้ padding และ border นับเข้าไปในขนาด */
}

/* เวลาขนาดหน้าจอเล็กลง ให้แสดงแค่หนึ่งคอลัมน์ต่อแถว */
@media (max-width: 768px) {
    .column {
        width: 100%; /* ให้คอลัมน์เต็มขนาดเมื่อขนาดหน้าจอเล็กลง */
    }
}

